// COLORS
$col-black: #0c090d;
$col-white: #f5f5f5;
$col-blue: #365585;
$col-orange: #ea9010;
$col-pink: #ef476f;

// TYPOGRAPHY
$font-headings: "Fredoka One", cursive;
$font-body: "Roboto", sans-serif;

// LAYOUT

$height-nav: 12vh;
