<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Information -->
  <title>storytellr - story</title>

  <!-- Disable viewport zooming for mobile devices -->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />

  <!-- Copied from template CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External JS jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Helpers JS -->
  <script type="text/javascript" src="/scripts/helpers.js"></script>

  <!-- Copied form template JS -->
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Login JS -->
  <script type="text/javascript" src="/scripts/login.js"></script>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav class="nav nav_story">
    <h2>storytellr</h2>
    <div class='nav-options'>
      <p>let your <em>imagination</em> guide the <b>stories</b></p>
      <span id="profile">profile</span>
      <!--placeholder for sign up button or profile pic with link-->
      <button id="login" type="button">login</button> <!-- this is a placeholder for register/login/logout button-->
    </div>
  </nav>
  <!-- Header: perhaps to show that user is logged in? -->
  <header class="header header_story container">
    <h3>TITLE</h3>
  <section class="card card_story">
  <div class="card_top">
    <p>author</p>
    <p>view count</p>
    <p>fav count</p>
  </div>
  <div class="card_bottom">
    <p>tags</p>
    <p>jump to latest branch</p>
  </div>
  </section>
  </header>
  <!-- Page-specific (main) content here -->
  <main class="container content content_story">
    <section class="story">
      <div class="story_body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nihil a commodi eum adipisci fugiat impedit dolor tempora quam voluptatibus numquam, nesciunt consectetur molestiae perspiciatis provident accusamus sapiente nemo amet.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae, dolor nesciunt fugit beatae quam facere modi amet autem ducimus sequi laboriosam maiores voluptatem blanditiis eaque consequatur natus placeat tempore quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum vitae tempora quisquam ratione ipsa ullam provident obcaecati voluptatum enim quas? Expedita quisquam nostrum repellendus qui sit sapiente distinctio consequuntur possimus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit veniam dignissimos iure animi temporibus repellat! Fuga modi exercitationem, provident ea perspiciatis tempora asperiores vel maxime, ducimus vero harum dicta!
        </p>
      </div>
    </section>

    <div class="branch_marker">
      <p>BRANCHED view all suggested branches</p>
    </div>

      <section class="story">
        <div class="story_body">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nihil a commodi eum adipisci fugiat impedit
            dolor tempora quam voluptatibus numquam, nesciunt consectetur molestiae perspiciatis provident accusamus sapiente
            nemo amet.</p>
        </div>
      </section>
  </main>
</body>

</html>
