.card {
  &_home {
    border: 2px dashed pink;
  }

  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_story {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
}
