body {
  background-color: $col-white;

  h1 {
    color: $col-black;
  }

  nav {
    background-color: $col-white;
  }

  .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
