body {
  font-family: $font-body;
}

a {
  text-decoration: none;
  color: $col-black;
}

.col_branch {
  color: $col-orange;
}

.col_white {
  color: $col-white;
}

.storytellr {
  font-family: $font-headings;
}

.nav {
  &_top {
    font-size: 2rem;
  }
}

#message {
  font-family: $font-headings;
}

.card-header {
  font-size: 2rem;
}

.card-title {
  font-style: italic;
  color: grey;
}
