body {
  font-family: $font-body;
}

a {
  text-decoration: none;
  color: $col-black;
}

.col_branch {
  color: $col-orange;
}

.storytellr {
  font-family: $font-headings;
}

.nav {
  &_top {
    font-size: 2rem;
  }
}

#message {
  font-family: $font-headings;
}
