.branch_marker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 2px solid $col-black;
  height: 5rem;
  align-self: flex-start;
  &_sub {
    margin-top: 0;
  }
  &_super {
    margin-bottom: 0.5rem;
  }
}

.story_branch {
  display: flex;
  width: 90vw;
}

.branch_info {
  &_txt {
    transform: rotate(90deg);
    font-style: italic;
    color: grey;
  }
}
