@keyframes floating {
  from {
    transform: translate(0, 0px); }
  65% {
    transform: translate(0, 5px); }
  to {
    transform: translate(0, 0px); } }

body {
  background-color: #f5f5f5; }
  body h1 {
    color: #0c090d; }
  body nav {
    background-color: #f5f5f5; }
  body .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: #0c090d; }

.col_branch {
  color: #ea9010; }

.storytellr {
  font-family: "Fredoka One", cursive; }

.nav_top {
  font-size: 2rem; }

#message {
  font-family: "Fredoka One", cursive; }

.btn-login,
.btn-register,
.btn-logout {
  background-color: #ef476f;
  font-family: "Fredoka One", cursive;
  border: none;
  border-radius: 50px;
  height: 2.5rem;
  font-size: 1.5rem; }

.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: center; }
  .form_wrapper .test-form {
    margin-bottom: 0.5rem; }
    .form_wrapper .test-form .input_field {
      width: 100%;
      height: 3rem;
      border: 3px dashed #ef476f;
      font-size: 1.5rem; }

#form-login,
#form-register {
  display: flex;
  flex-direction: column;
  width: 90%; }

#name {
  display: none; }

.header_story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.header_home {
  margin: 1rem; }

.header .story_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 4rem;
  margin-bottom: -3rem; }

.header #toggle_story_info {
  margin-left: 0.5rem; }

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s ease;
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .nav_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem 0 1.5rem;
    margin-bottom: -3rem; }
  .nav_home {
    border-bottom: 2rem solid #ef476f; }
  .nav_story {
    border-bottom: 2rem solid #365585; }
  .nav_branch {
    border-bottom: 2rem solid #0c090d; }

#sidebar {
  position: fixed;
  width: 75vw;
  min-height: 100vh;
  top: 0;
  margin-left: -75vw;
  z-index: 1000; }

#sidebar.active {
  transition: all 3s ease;
  transform: translateX(75vw); }

.card_home {
  border-bottom: 2px solid #0c090d; }
  .card_home:first-of-type {
    border-top: 2px solid #0c090d; }

.card_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

.card_bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.card_top_branch {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card_story, .card_branch {
  width: 95%;
  display: flex;
  flex-direction: column; }

.card_branch {
  display: none; }

.card_story {
  width: 95vw;
  border: 0.5rem dashed #365585;
  align-items: center;
  margin-bottom: 1rem; }

.card_top_story {
  display: flex;
  justify-content: space-evenly;
  width: 100%; }

.card_bottom_story {
  display: flex;
  flex-direction: column;
  align-items: center; }

.story_wrapper {
  display: none; }

#writing_form_div {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #writing_form_div .toggle_textarea {
    font-size: 2rem;
    margin: 1rem 0;
    transition: 0.5s ease; }
    #writing_form_div .toggle_textarea:hover {
      transform: translateY(-2px); }

#writing_form {
  display: none; }
  #writing_form .textarea_div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #writing_form .textarea_div .submit_div {
      width: 100vw;
      background-color: #365585;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 3rem;
      color: #f5f5f5;
      font-size: 2rem; }
      #writing_form .textarea_div .submit_div .btn_submit {
        font-family: "Fredoka One", cursive; }

#writing_box {
  width: 95%;
  border: 0.5rem dashed #365585;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem; }

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12vh; }
  .container_home {
    width: 90%; }

.content {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  transition: all 0.5s ease-in-out;
  top: 0; }

/* display .overlay when it has the .active class */
.overlay.active {
  display: block;
  opacity: 1; }

.fa-angle-double-down {
  animation: floating 3s ease-in-out infinite; }
