// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  nav {
    background-color: #c4c4c4;
  }

  .nav-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
